.header {
    background-color: rgb(67, 202, 255);
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius:0 0 10px 10px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    padding: 10px 4px 10px 4px;
    font-weight: bold;
}
.title{
    font-size:40px;
    font-weight: 600;
}
.navi{
    padding:22.5px 5px 14px 5px;
}
.navi:hover{
    background-color: rgb(219, 219, 219);
}
.navi.active{
    background-color: white;
    color: black;
    border-radius: 10px;
}
